* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}


/*Navbar Starts Here*/

.navbar-brand,
.nav-link {
    font-size: 20px;
    text-transform: uppercase;
}


/*Carousel*/

.carousel-item {
    height: 500px;
    background: no-repeat scroll center;
    background-size: cover;
}


/*Services starts here*/

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.carousel-caption {
    position: absolute;
    top: 200px;
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.item,
img {
    position: absolute;
    object-fit: cover;
    height: 100%!important;
    width: 100%!important;
    /*min-height:500px;*/
}

.carousel-control-prev {
    background-image: url("images/left.svg");
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-control-next {
    background-image: url("images/right.svg");
    z-index: 800;
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
}


/*Services starts here*/


/*Media query for phones*/

@media screen and (max-width: 690px) {
    /*query for carousel and carousel-caption responsivness*/
    .carousel-caption {
        padding: 10px!important;
    }
    .carousel-caption h5 {
        font-size: 2rem!important;
    }
}